body {
    background: #24273a;
    color: #cad3f5;
}

.inputs {
    margin: auto;
    width: 400pt;
    padding: 5px;
}

input[type=text],input[type=number] {
    border: 1px solid #6e738d;
    border-radius: 4px;
    background: #363a4f;
    color: #cad3f5;
    padding: 5px;
}

#submit,#unit {
    border: 1px solid #6e738d;
    border-radius: 4px;
    background: #363a4f;
    color: #cad3f5;
    padding: 5px;
}

#submit:hover,#unit:hover {
    background: #494d64;
}