body {
    background: #24273a;
    color: #cad3f5;
}

.inputs {
    margin: auto;
    width: 400pt;
    padding: 5px;
}

input[type=text],input[type=number] {
    border: 1px solid #6e738d;
    border-radius: 4px;
    background: #363a4f;
    color: #cad3f5;
    padding: 5px;
}

#submit,#unit {
    border: 1px solid #6e738d;
    border-radius: 4px;
    background: #363a4f;
    color: #cad3f5;
    padding: 5px;
}

#submit:hover,#unit:hover {
    background: #494d64;
}

#forecast {
    display: flex;
    gap: 10px;
    padding: 5px;
    justify-content: center;
}
.square {
    background: #363a4f;
    border: 3px solid #6e738d;
    width: 80px;
    height: 150px;
    text-align: center;
    line-height: 0.5;
}

.forecast-high, .forecast-low {
    font-size: small;
}