@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background: #24273a;
    color: #cad3f5;
    font-family: 'Inter', sans-serif;
}

.inputs {
    margin: auto;
    width: 400pt;
    padding: 5px;
}

input[type=text],input[type=number],input[type=date] {
    border: 1px solid #6e738d;
    border-radius: 4px;
    background: #363a4f;
    color: #cad3f5;
    padding: 5px;
}

#submit,#history-button,#unit {
    border: 1px solid #6e738d;
    border-radius: 4px;
    background: #363a4f;
    color: #cad3f5;
    padding: 5px;
}

#submit:hover,#unit:hover,#history-button:hover {
    background: #494d64;
}

#forecast {
    display: flex;
    gap: 10px;
    padding: 5px;
    justify-content: center;
}

#startHistoryInput {
    padding-top: 30px;
}

.square {
    background: #363a4f;
    border: 3px solid #6e738d;
    width: 80px;
    height: 120px;
    text-align: center;
    line-height: 0.5;
}

.forecast-date {
    font-weight: bold;
}

.forecast-high, .forecast-low {
    font-size: small;
    font-weight: 300;
}

#history {
    margin: auto;
    width: 50%;
    height: 50%;
}